* {
    padding: none;
}

:root {
    --header-bg-color: #b25836;
    --header-font-color: #efe6c7;
    --block-bg-color: #f9ca5d;
    --body-purple-bg-color: #ac92c2;
    --element-color-green: #b9ce57;
    --element-color-blue: #68bfac;
}

@font-face{
    font-family: 'Inter-Bold';
    src: url(./inter/Inter-Bold.otf);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(./inter/Inter-Regular.otf);
}

body {
    background-color: var(--header-font-color);
}

.header{
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

select.main_picker{
    background-color: var(--header-bg-color);
    color: rgb(255, 255, 255);
    font-family: 'Inter-Bold';
    border: none;
}

select {
    background-color: var(--header-bg-color);
    color: rgb(255, 255, 255);
    border: none; 
}

select ::picker-icon{
    appearance: inherit;
}

.Saiba_mais {
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    padding: 10px;
    font-family: 'Inter-Bold';
    border-radius: 25px;
    font-size: 1rem;
}
.purple_fax{
    background-color: var(--body-purple-bg-color);
    align-items: center;
    min-width: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 80px 0;
}

.block{
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px #000000;
}

.block_2{
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px #000000;
}

h2 {
    font-family: 'Inter-Bold';
    color: var(--header-bg-color);
}

.h3{
    font-family: 'Inter-Bold';
    color: var(--header-bg-color);
}

.purple_fax > div > .h3{
    font-family: 'Inter-Bold';
    color: rgb(255, 255, 255);
}
.purple_fax > div > .p{
    font-family: 'Inter-Regular';
    color: rgb(255, 255, 255);
}

.p{
    font-family: 'Inter-Regular';
    color: var(--header-bg-color);
}