* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: #b25836;
    --header-font-color: #efe6c7;
    --block-bg-color: #f9ca5d;
    --body-purple-bg-color: #ac92c2;
    --element-color-green: #b9ce57;
    --element-color-blue: #68bfac;
}

@font-face{
    font-family: Naut'Neulis_Cursive_Black';
    src: url(\fonts\fonnts.com-Neulis_Cursive_Black);
}
@font-face {
    font-family: 'Inter-Regular';
    src: url(./inter/Inter-Regular.otf);
}

body {
    background-color: var(--header-font-color);
    overflow-x: hidden;
    max-width: 1924px;;
    margin: 0px;
}

.logo {
    width: 200px;
}


.header{
    background-color: var(--header-bg-color);
    color: var(--header-font-color);
    align-items: center;
    /* padding: 1rem; */
    padding-left: 22rem;
    padding-right: 22rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

select.main_picker{
    background-color: var(--header-bg-color);
    color: rgb(255, 255, 255);
    font-family: 'Inter-Bold';
    border: none;
}

select {
    background-color: var(--header-bg-color);
    color: rgb(255, 255, 255);
    border: none; 
}

select ::picker-icon{
    appearance: inherit;
}

.Saiba_mais {
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    padding: 10px;
    font-family: 'Inter-Bold';
    border-radius: 25px;
    font-size: 1rem;
}

main .Saiba_mais{
    position: relative;
    left: 5px;
}
.purple_fax{
    background-color: var(--body-purple-bg-color);
    align-items: center;
    min-width: 100%;
    padding: 80px 0;
    display: block;
    justify-content: space-between;
    margin: 80px 0;
}

.grid_container{
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    column-count: 2;
    column-gap: 10px;
}

.block{
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    display: flex;
    align-items: center;
    gap: 20px;
    break-inside: avoid;
    max-width: 340px;
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 10px #000000;
}

.block_icon{
    width: 130px;
}

.block_2{
    background-color: var(--block-bg-color);
    color: var(--header-bg-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    max-width: 600px;
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 10px #000000;
}

.block_product{
    background-color: var(--header-font-color);
    height: 150px;
    border-radius: 20px;
}

.catalog_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.catalog_content img{
    width: 6rem;
    padding: 10px;
}

.first_content{
    margin: 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
  
h2 {
    font-family: 'Inter-Bold';
    color: var(--header-bg-color);
    padding: 10px;
}

.product_title{
    display: flex;
    flex-direction: row;
}

.container_image{
    position: relative;
    width: 100%;
}

.sub_fundo{
    width: 600px;
    top: -300px;
    position: absolute;
    z-index: 1;
}
.foto1{
    width: 600px;
    top: -200px;
    left: 50px;
    position: absolute;
    z-index: 2;
}
.foto2{
    width: 400px;
    top: 30px;
    left: 150px;
    position: absolute;
    z-index: 3;
}

.left_side img {
    width: 10rem;
    padding: 0 10px 0 10px;
}

.left_side {
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
}

.container_image{
    position: relative;
    width: 100%;
}

.titulo01{
    font-family: 'Neulis';
    color: var(--header-bg-color);
    padding-left: 10px;
    font-size: 67px;
    line-height: 89%
}

.titulos{
    font-family: 'Neulis';
    color: white;
    font-size: 114px;
    line-height: 89%
}

.purple_fax .container_content{
    padding: 60px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.purple_fax .describe{
    max-width: 50%;
}
.purple_fax .mascot{
    position: relative;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.grafismo1{
    width: 100px;
    position: absolute;
    top: 35px;
    right: 230px;
    z-index: 1;
}

.grafismo2{
    width: 100px;
    position: absolute;
    top: 100px;
    right: 50px;
    z-index: 1;
}

.amaju{
    width: 400px;
    position: relative;
    z-index: 2;
}


.purple_fax > .container_content > div > .h3{
    font-family: 'Inter-Bold';
    color: rgb(255, 255, 255);
}
.purple_fax > .container_content >  div > .p{
    font-family: 'Inter-Regular';
    color: rgb(255, 255, 255);
}

.p{
    font-family: 'Inter-Regular';
    color: var(--header-bg-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 26px;
}